
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 500px;
  padding: 0px;
  background: rgb(240, 242, 245);
}
/*navbar*/
.menu2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color:white;
}
.nameheader{
  font-size:80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(0,21,41);
  position: absolute;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color:rgb(0,21,41);
  left: 260px;
  bottom: 230px;
  z-index:3;
}
.resumeheader
{
  font-size:40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color:white;
  position: absolute;
  left: 440px;
  bottom: 185px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(0,21,41);
  z-index:3;
}
.bigImage { 
  width: 100%;
  height: 569px;
  opacity: 1;
  z-index: 2;

}
.profileImage{
  width: 20%;
  height: 20%;
}
.Aboutme
{
    min-height: 650px;
    padding: 0px;
    background: rgb(240, 242, 245);
}
.Aboutme h1{ 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(0,21,41);
  font-size: 60px;
  text-align: center;
  z-index:3;
  color: rgb(0,21,41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Aboutme p{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0,21,41);
  font-size: 20px;
  text-align: center;
  color: rgb(230,198,254);
  margin-top:-50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 
.aboutMeText p{
  font-size: 15px;
  text-align: center ;
  color: rgb(0,21,41);
  width: 1000px;
  padding-left: 300px;
  margin-top:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
nav ul{
  background-color: rgb(240, 242, 245);
}

nav > ul li {
  display:inline-block;
}

nav > ul a{
  text-decoration: none;
  padding: 5px 0px 5px 0px ;
    color:rgb(0,21,41);
}

 nav> ul li .icon
 {
   width: 70px;
  border-radius: 100%;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: -11px;
  transition: all 0.5s linear;
 }

.icon:hover{
   filter: brightness(50%);
}
.Top4 h1{
  min-height: 650px;
  padding: 100px;
  background: rgb(240, 242, 245);
}
.panels {
  display: inline-block;
  width: 800px;
  height: 400px;
  margin-top: -200px;

}
.Experience {
  min-height: 600px;
  padding: 0px;
  background: rgb(240, 242, 245);
}
.Experience h1, .Projects h1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(0,21,41);
  font-size: 60px;
  text-align: center;
  z-index:3;
  color: rgb(0,21,41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Experience h2{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(0,21,41);
  font-size: 25px;
  text-align: center;
  z-index:3;
  text-Align: left;
  color: rgb(230,198,254);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Experience p, .Projects p{
  font-size: 15px;
  text-align: left;
  color: rgb(0,21,41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Projects {
  min-height: 650px;
  padding: 0px;
  background: rgb(240, 242, 245);
}

.Projects h3{
  font-size: 15px;
  text-align: left;
  color: rgb(230,198,254);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0,21,41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.rows{
  padding-left: 100px;
}

